PLI/PLI/Web References/AD_AUTH/AD_AUTH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AD_Authenticate_With_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_serverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AD_Authenticate_With_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AD_Authenticate_With_XMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AD_Authenticate_With_JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_serverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AD_Authenticate_With_JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AD_Authenticate_With_JSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AD_Authenticate_With_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:AD_Authenticate_With_XML" />
  </wsdl:message>
  <wsdl:message name="AD_Authenticate_With_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:AD_Authenticate_With_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="AD_Authenticate_With_JSONSoapIn">
    <wsdl:part name="parameters" element="tns:AD_Authenticate_With_JSON" />
  </wsdl:message>
  <wsdl:message name="AD_Authenticate_With_JSONSoapOut">
    <wsdl:part name="parameters" element="tns:AD_Authenticate_With_JSONResponse" />
  </wsdl:message>
  <wsdl:portType name="AD_AUTHSoap">
    <wsdl:operation name="AD_Authenticate_With_XML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Note: Input:(string _serverName(tw.fpg.com),string _domain(tw.fpg.com),string _username(員工ID),string _pwd(密碼) ,Output(JSON): OK,NG  </wsdl:documentation>
      <wsdl:input message="tns:AD_Authenticate_With_XMLSoapIn" />
      <wsdl:output message="tns:AD_Authenticate_With_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AD_Authenticate_With_JSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Note: Input:(string _serverName(tw.fpg.com),string _domain(tw.fpg.com),string _username(員工ID),string _pwd(密碼) ,Output(JSON): OK,NG  </wsdl:documentation>
      <wsdl:input message="tns:AD_Authenticate_With_JSONSoapIn" />
      <wsdl:output message="tns:AD_Authenticate_With_JSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AD_AUTHSoap" type="tns:AD_AUTHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AD_Authenticate_With_XML">
      <soap:operation soapAction="http://tempuri.org/AD_Authenticate_With_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AD_Authenticate_With_JSON">
      <soap:operation soapAction="http://tempuri.org/AD_Authenticate_With_JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AD_AUTHSoap12" type="tns:AD_AUTHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AD_Authenticate_With_XML">
      <soap12:operation soapAction="http://tempuri.org/AD_Authenticate_With_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AD_Authenticate_With_JSON">
      <soap12:operation soapAction="http://tempuri.org/AD_Authenticate_With_JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AD_AUTH">
    <wsdl:port name="AD_AUTHSoap" binding="tns:AD_AUTHSoap">
      <soap:address location="http://10.153.196.126:7777/FPC_AD_AUTH/AD_AUTH.asmx" />
    </wsdl:port>
    <wsdl:port name="AD_AUTHSoap12" binding="tns:AD_AUTHSoap12">
      <soap12:address location="http://10.153.196.126:7777/FPC_AD_AUTH/AD_AUTH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>